@import "../../styles/src/_shared.scss";


header {
  @include animate(box-shadow);

  display: block;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  height: rem-calc(48);
  transform: translateZ(0);

  @include breakpoint(medium up) {
    height: rem-calc(56);
    position: relative;
    z-index: 6;
  }

  @include breakpoint(xlarge up) {
    height: rem-calc(64);
  }

  .grid-container {
    height: 100%;
  }
}

:host-context(.scrolled) {
  header {
    box-shadow: 0 rem-calc(1) rem-calc(5) 0 rgba(0, 0, 0, 0.05), 0 rem-calc(5) rem-calc(10) 0 rgba(0, 0, 0, 0.1);
  }
}

.header-grid {
  height: 100%;
  display: grid;
  align-content: center;
  grid-template-areas: 'logo . menu . actions. burger';
  grid-template-columns: auto rem-calc(24) auto rem-calc(24) auto rem-calc(16) rem-calc(24);

  @include breakpoint(medium up) {
    grid-template-areas: 'burger . logo . menu . actions';
    grid-template-columns: rem-calc(24) rem-calc(16) auto rem-calc(24) auto rem-calc(24) auto;
  }

  @include breakpoint(large up) {
    grid-template-areas: 'burger . logo . menu . actions';
    grid-template-columns: rem-calc(24) rem-calc(16) rem-calc(100) rem-calc(16) auto rem-calc(16) auto;
  }

  @include breakpoint(xlarge up) {
    grid-template-columns: rem-calc(24) rem-calc(16) rem-calc(104) rem-calc(40) auto rem-calc(24) auto;
  }
}

.burger {
  grid-area: burger;
  align-self: center;
  color: $black-blue;
  width: rem-calc(24);
  height: rem-calc(24);
  text-align: center;
  position: relative;
  z-index: 999;
}

.logo {
  grid-area: logo;
  align-self: center;

  a {
    $animation: animate-list(color);

    color: $semi-black-blue;
    transition: $animation;
  }

  img {
    height: rem-calc(28);
    vertical-align: middle;
    display: none;

    @include breakpoint(medium up) {
      margin-right: rem-calc(4);
      display: inline-block;
    }

    @include breakpoint(xlarge up) {
      height: rem-calc(32);
    }
  }

  svg-icon {
    display: inline-block;
    vertical-align: middle;

    svg {
      display: block;
    }
  }

  &:hover {
    a {
      color: $blue;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba($black-blue, 0.6);
  will-change: opacity;
  transition: opacity 0.3s ease;

  @include breakpoint(medium up) {
    display: none;
  }

  &.visible {
    opacity: 1;
  }
}

.menu {
  grid-area: menu;
  align-self: center;
}

nav {
  user-select: none;

  &>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: rem-calc(24);

    &>li {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      font-size: rem-calc(14);
      margin-right: rem-calc(18);
      height: rem-calc(24);

      &:last-child {
        margin-right: 0;
      }

      @include breakpoint(xlarge up) {
        font-size: rem-calc(16);
        margin-right: rem-calc(24);
      }

      &>a {
        @include animate(color);
        text-decoration: none;
        color: $black-blue;
        display: block;
        position: relative;

        &::after {
          @include animate(opacity);

          content: '';
          display: block;
          position: absolute;
          height: rem-calc(2);
          top: rem-calc(38);
          left: rem-calc(-2);
          right: rem-calc(-2);
          background-color: $blue;
          pointer-events: none;
          opacity: 0;

          @include breakpoint(xlarge up) {
            top: rem-calc(42);
          }
        }

        &:hover {
          color: $blue;

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  ul {
    &>.has-submenu {
      &>a {
        text-decoration: none;

        &::after {
          left: rem-calc(27);
        }
      }
    }
  }

  [name='actionAdd'] {
    color: $pink;
    display: inline-block;
    vertical-align: top;
    width: rem-calc(24);
    height: rem-calc(24);
    text-align: center;

    svg {
      @include animate(transform);

      display: inline-block;
      margin-top: rem-calc(6);
    }
  }

  li.active {
    svg {
      transform: rotateZ(225deg) scale(1.2, 1.2);
    }
  }
}

.actions {
  grid-area: actions;
  align-self: center;
  justify-self: right;


  .qj-locale-switcher {

    &.head {
      font-size: 0.75rem;
      line-height: 1.125rem;
      cursor: pointer;
      padding: 0.475rem 1.875rem 0.475rem 0.875rem;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 2;
      border: 1px solid #ede8f7;
      display: inline;
      border-radius: 50px;


      .arrow {
        right: .875rem;
        width: .5625rem;
        display: inline-block;
      }

      .value {
        display: inline-block;
        left: 1rem;
        line-height: 30px;
        transform: translateY(0px);
      }
    }
  }





  .qj-locale-switcher,
  .qj-header-profile {
    display: inline-block;
    vertical-align: middle;
  }

  .qj-header-profile {
    margin-left: rem-calc(24);
  }
}


@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important;
  }
}
