    <section #Scroll class="blog-text" ngsRevealSet [ngsInterval]="300" [ngsSelector]="'.blog-text-item>p,.blog-text-item>h2,.blog-text-item>h3,.blog-text-item>a'">
    <div class="blog-text-item" >
        <p>Кирилл заканчивает колледж и подрабатывает на YouDo.com курьером. 3−5 заказов в день ему хватает на карманные расходы, прогулки с друзьями и сюрпризы любимой девушке.</p>
        <p>Как студенту выгодно совмещать работу с учёбой, на что обратить внимание в разговоре с заказчиком и чем общественный транспорт лучше велосипеда — в рассказе Кирилла.</p>
        <h2>Постоянное движение</h2>
        <p>Мне 19 лет, я в Москве родился, заканчиваю дорожный колледж по специальности «Техническая эксплуатация подвижного состава». Мне с детства нравилась техника и железная дорога, и я всегда хотел стать машинистом. Но по состоянию здоровья у меня, к сожалению, не получается работать на железной дороге. После окончания учёбы буду выбирать другую специальность, которая мне понравится, а пока в свободное время подрабатываю курьером.</p>
        <a href="#" class="qjob-post-link" target="_blank">
            Один день из жизни топового курьера
        </a>
        <p>Я не могу сидеть на месте, наверное поэтому выбрал эту работу. Ты постоянно куда-то движешься, видишь улицу, кто-то куда-то едет, погода меняется, день сменяется ночью, летом распускаются деревья, а зимой снег идёт. Вокруг постоянно что-то происходит — по-моему, это очень интересно. </p>
        <p>
            <img src="./assets/images/posts/1/first.png" alt="Как студенту зарабатывать на кино и кафешки">
            <span class="image_description">
                Сувениры из пластика, фотополимеров, которые хранятся в мастерской Виктора
            </span>
        </p>
        <h2>Карманные деньги</h2>
        <p>Как таковой мотивации не было, просто хотелось получать деньги, чтобы можно было потом их свободно тратить на себя. Всё-таки я ещё молодой, хочется себе что-то купить, но тех денег, которые мне дают, не хватает. А мне хотелось хотя бы копеечку получать, чтобы после учёбы купить себе какую-нибудь вкусняшку, накопить деньги на выходные, чтобы с друзьями поехать гулять. </p>
        <blockquote>
            <p>Хотелось хотя бы копеечку получать, чтобы после учёбы купить себе какую-нибудь вкусняшку, с друзьями поехать гулять</p>
        </blockquote>
        <p>Было хорошее время в конце прошлого года: перед Новым годом поступало очень много заказов, и даже получалось раз в неделю ходить в ресторан с девушкой. Это было вполне возможно. Сейчас, конечно, не так из-за занятости, но на кино и кафешки вполне хватает. </p>
        <h2>Вежливость и пунктуальность — главное</h2>
        <p>Самое главное — это общение с клиентами. Их нужно знать, уважать. Всё-таки я их работник, поэтому хочу, чтобы всё было идеально. Стараюсь ничего не сломать и не поцарапать, не помять, чтобы груз был доставлен в целости. Я понимаю, что если бы я кому-то доверил такое задание, я бы хотел, чтобы к нему подошли ответственно.</p>
        <p>С клиентами я стараюсь вежливо общаться, чтобы получался хороший диалог. Бывает сложно спланировать время. Например, человек спрашивает, во сколько я приеду к нему. А я нахожусь в другой части Москвы и не знаю, через сколько приедет автобус, будут ли пробки. Это вообще самая большая проблема. Но я всегда планируют так, что получается точно приехать, даже иногда чуть пораньше. Клиенты остаются довольны. </p>
        <p>
            <img src="./assets/images/posts/1/numberTwo.png" alt="Вежливость и пунктуальность — главное" />
        </p>
        <p>Обычно я перемещаюсь по городу на общественном транспорте, пользуюсь социальной картой, она стоит в месяц рублей 700. Это небольшие деньги. А электрички — за свой счёт.</p>
        <p>Когда я только начинал работать, не помню почему оказался в центре города на велосипеде, и решил попробовать взять заказ. Получилось, честно говоря, так себе: летом жарко, ты весь потный. Едешь по жаре, пробкам, а ещё Москва холмистая — то в горку, то с горки, намного больше сил и энергии уходит, чем на общественном транспорте, поэтому я попробовал, но больше не хочу пока. </p>
        <!--<p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6pgaJb2Wwhs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>-->
        <h2>Вежливость и пунктуальность — главное</h2>
        <blockquote class="cols_right">
            <p>Хотелось хотя бы копеечку получать, чтобы после учёбы купить себе какую-нибудь вкусняшку, с друзьями поехать гулять</p>
        </blockquote>
        <p>Иногда специально беру задания в Подмосковье, потому что интересно съездить в какое-нибудь новое место. Был заказ в Подольск отвезти платки. Там от станции нужно было ехать ещё на автобусе, но мне вполне было удобно.</p>
        <p>Заказы на YouDo.com все необычные в основном, не считая документов. Торты интересно возить, потому что это чей-то праздник, кому-то дарят этот вкусный торт, и ты в этом немного участвуешь.</p>


        <div class="prices-from-masters">
            <h4 class="title">
                Примерные цены курьеров
            </h4>
            <div class="prices-from-masters__list">
                <div class="prices-from-masters__link column_6">
                    <p>
                    	Доставка документов — <span>от 500 ₽</span>
                    </p>
                </div>
                <div class="prices-from-masters__link column_6">
                    <p>
                        Доставка крупных посылок по центру города — <span>от 16000 ₽</span>
                    </p>
                </div>
                <div class="prices-from-masters__link column_6">
                    <p>
                        Курьер на один день с почасовой оплатой — <span>от 500 ₽</span>
                    </p>
                </div>
                <div class="prices-from-masters__link column_6">
                    <p>
                        Курьер на авто — <span>от 16000 ₽</span>
                    </p>
                </div>
                <div class="prices-from-masters__link column_6">
                    <p>
                        Курьер на дальние расстояния — <span>от 500 ₽</span>
                    </p>
                </div>
                <div class="prices-from-masters__link column_6">
                    <p>
                        Курьер между странами — <span>от 1600 ₽</span>
                    </p>
                </div>


            </div>
        </div>



        <div class="advice"><span>Совет №1</span>Иногда специально беру задания в Подмосковье, потому что интересно съездить в какое-нибудь новое место. Был заказ в Подольск отвезти платки. Там от станции нужно было ехать ещё на автобусе, но мне вполне было удобно.</div>
        <div class="advice">Заказы на YouDo.com все необычные в основном, не считая документов. Торты интересно возить, потому что это чей-то праздник, кому-то дарят этот вкусный торт, и ты в этом немного участвуешь.</div>

        <div class="who-make-main-photo">
            <p>Фото обложки: Depositphotos</p>
            <p>
                Благодарим исполнителей <a href="#" target="_blank">Сергея</a> и <a href="#" target="_blank">Егора</a> за помощь в работе над материалом.
            </p>
        </div>
        <!--make this text like some variable to work with her from the admin part-->
        <div class="you-wants-to" >
            <span>Тоже сделали хобби своим бизнесом? Расскажите нам, как это было: <a href="mailto:office@qjob.hu">office@qjob.hu</a></span>
        </div>
        <div  class="do-you-like-this-history">
            <h3>Вам понравилась эта история?</h3>
            <div class="smiles-list">
                <input type="hidden" value="234" id="liked-history">
                <div class="smiles unvoted">
                    <div class="block">
                        <img src="./assets/images/smiling-face-with-he.png" alt="">
                        
                        <span class="label one">Круто</span>
                        <span class="votes">21</span>
                    </div>
                </div>
                <div class="smiles unvoted">
                    <div class="block">
                        <img src="./assets/images/slightly-smiling-fac.png" alt="">
                        <span class="label two ">Нормально</span>
                        <span class="votes">21</span>
                    </div>
                </div>
                <div class="smiles unvoted">
                    <div class="block">
                        <img src="./assets/images/unamused-face_1f612.png" alt="">
                        <span class="label three">Не очень!</span>
                        <span class="votes">21</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="stores-block">
            <h3 class="stores-block_title">
                Хотите найти новых клиентов и зарабатывать больше?
            </h3>
            <p class="stores-block_description">
                Скачайте приложение Qjob.hu и получите первый заказ уже сегодня
            </p>
            <div class="stores-block_images">
                <a href="#">
                    <img src="./assets/images/applestore.png" alt="">
                </a>
                <a href="#">
                    <img src="./assets/images/googleplay.png" alt="">
                </a>
            </div>
        </div>
        <div class="captions">
            <h3>Титры</h3>
            <div class="captions_textblock">
                <p>Герой интервью - <a href="#">Ali Baba</a></p>
                <p>Фотограф - <a href="#">Jony Depp</a></p>
                <p class="captions_textblock__desc">Хотите поделиться своей историей? Напишите нам: <a href="mailto:blog@youdo.com">blog@youdo.com</a></p>
            </div>
        </div>

    </div>
    <div class="customer-avatar">
        <div class="avatar">
            <img src="./assets/images/posts/1/get1.jpg" alt="">
            <a href="#" class="name">Кирил</a>
            <span class="paragraph">
                A Qjob.hu oldalon<br/>
                2017 óta
        </span>
        </div>

    </div>

</section>