    <header class="blog">
    	<div class="logo">
    		<a routerLink="/blog"><img src="./assets/images/bloglogo.png" alt=""></a>
    	</div>
        <div class="menu-block">
            <!--there i will put some menu-->
        </div>
    	<div class="burger">
    		<app-ui-hamburger></app-ui-hamburger>
    	</div>
    </header>
    <section id="sidebar-blog" class="blog">
        <div class="additional_layer" id="additional_layer"></div>
        <ul class="nav">
            <li><a href="/oldal/epites/">Építkezés és felújítás</a></li>
            <li><a href="/oldal/futarszolgalat/">Futárszolgálat</a></li>
            <li><a href="/oldal/tisztitas/">Takaritás és házimunka</a></li>
            <li><a href="/oldal/teherszallitas/">Költöztetés és teherszállítás</a></li>
            <li><a href="/oldal/szepseg/">Szépség és egészség</a></li>
            <li><a href="/oldal/virtualis-asszistens/">Virtuális asszisztens</a></li>
            <li><a href="/oldal/promociok/">Események és promók szervezése</a></li>
            <li><a href="#">Foto és videó szolgáltatások</a></li>
            <li><a href="#">Berendezések felszerelése és javítása</a></li>
        </ul>
    </section>
