<section class="related-posts">
    <h2>Похожие записи</h2>
    <div class="related-posts-list">
                    <div class="item">
                <a routerLink="#" class="item-title">
                    <div class="image ">
                        <img src="./assets/images/posts/related/1.png" alt="">
                                            </div>
                    <h3>10 глупых вопросов про звукоизоляцию</h3>
                </a>
                <p class="paragraph">
                    12 июля                </p>
            </div>
                        <div class="item">
                <a routerLink="#" class="item-title">
                    <div class="image ">
                        <img src="./assets/images/posts/related/2.png" alt="">
                                                    <div class="is-video"></div>
                                            </div>
                    <h3>О чем молчат фрилансеры</h3>
                </a>
                <p class="paragraph">
                    12 июля                </p>
            </div>
                        <div class="item">
                <a routerLink="#" class="item-title">
                    <div class="image ">
                        <img src="./assets/images/posts/related/3.png" alt="">
                                            </div>
                    <h3>Самые необычные задания. Выпуск 43</h3>
                </a>
                <p class="paragraph">
                    12 июля                </p>
            </div>
                </div>
</section>