<section class="subscribe-on-post">
    <h3 class="subscribe-on-post__title">
        Подпишитесь на новые посты
    </h3>
    <p class="suscribe-on-post__description">
        Раз в неделю присылаем свежие истории, видео, анонсы спецпроектов или полезные подборки
    </p>
    <div class="subscribe-on-post__form">
       <form>
          <div class="row">
            <div class="ten columns">
              <input class="u-full-width" placeholder="Укажите ваш email" type="email" id="exampleEmailInput">
            </div>
            <div class="two columns">
               <input class="button-primary" type="submit" value="Подписаться">
            </div>
          </div>
        </form>
    </div>
</section>
