<div class="menu" #menu *ngIf="visible" [style.left.px]="left" [style.height.px]="height" @openCloseAnimation>
  <div class="menu-inner" perfectScrollbar>
    <div class="menu-heading">Как это работает</div>
    <nav class="small">
      <ul>
        <li>
          <a>Как стать исполнителем</a>
        </li>
        <li>
          <a>Наш блог</a>
        </li>
        <li>
          <a>Отзывы заказчиков</a>
        </li>
        <li>
          <a>Правила сервиса</a>
        </li>
        <li>
          <a>Частые вопросы</a>
        </li>
        <li>
          <a>Контакты</a>
        </li>
      </ul>
    </nav>
    <div class="menu-heading">Qjob для бизнеса</div>
    <nav class="small">
      <ul>
        <li>
          <a>Как стать бизнес–исполнителем</a>
        </li>
        <li>
          <a>Как стать бизнес–заказчиком</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
