@import 'responsive.scss';
@font-face{
	font-family:LetoSans;
	src:url(/assets/fonts/LetoSans.woff2) format("woff2"),
		url(/assets/fonts/LetoSans.woff) format("woff"),
		url(/assets/fonts/LetoSans.otf) format("opentype");
		font-weight:400;font-style:normal
	}
	@font-face{font-family:LetoSans;
		src:url(/assets/fonts/LetoSans-Bold.woff2) format("woff2"),
		url(/assets/fonts/LetoSans-Bold.woff) format("woff"),
		url(/assets/fonts/LetoSans-Bold.otf) format("opentype");
		font-weight:700;
		font-style:normal
	}
	@font-face{font-family:LetoSans;
		src:url(/assets/fonts/LetoSans-Thin.woff2) format("woff2"),
		url(/assets/fonts/LetoSans-Thin.woff) format("woff"),
		url(/assets/fonts/LetoSans-Thin.otf) format("opentype");
		font-weight:100;font-style:normal
	}
	@font-face{
		font-family:LetoSansCondensed;
		src:url(/assets/fonts/LetoSansCondensed.otf) format("opentype");
		font-weight:400;font-style:normal
	}
	@font-face{
		font-family:LetoSansCondensed;
		src:url(/assets/fonts/LetoSansCondensed-Bold.otf) format("opentype");
		font-weight:700;
		font-style:normal
	}
	@font-face{
		font-family:LetoSansCondensed;
		src:url(/assets/fonts/LetoSansCondensed-Thin.otf) format("opentype");
		font-weight:100;font-style:normal
	}

html, body { height: 100%; }
body {     
		margin: 0;
		padding: 0;
		background: #fff;
		font-family: LetoSans,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
		font-weight: 400;
		line-height: 1.625;
		color: #1d1539;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; 
 }
.column,
.columns {
 }

  .column,.columns {
		margin-left: 4%;
		width: 100%;
		float: left;
		box-sizing: border-box;

	&.one{width: 4.66666666667%;}
	&:first-child{margin-left: 0;}
  }
	.columns{
	  &.two    { width: 13.3333333333%; }
	  &.three  { width: 22%;            }
	  &.four   { width: 30.6666666667%; }
	  &.five   { width: 39.3333333333%; }
	  &.six    { width: 48%;            }
	  &.seven  { width: 56.6666666667%; }
	  &.eight  { width: 65.3333333333%; }
	  &.nine   { width: 74.0%;          }
	  &.ten    { width: 82.6666666667%; }
	  &.eleven { width: 91.3333333333%; }
	  &.twelve { width: 100%; margin-left: 0; }
	}
	.container:after,
	.row:after,
	.u-cf {
		content: "";
		display: table;
		clear: both;
	}
	.u-full-width {
	    width: 100%;
	    box-sizing: border-box;
	}
	input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
	    height: 38px;
	    padding: 6px 10px;
	    background-color: #fff;
	    border: 1px solid #D1D1D1;
	    border-radius: 4px;
	    box-shadow: none;
	    box-sizing: border-box;
	}