$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #828282;
$black2: #4f4f4f;
$black: #0a0a0a;
$white: #fff;

$black-blue: #1d1539;
$semi-black-blue: #1d0c5a;
$blue: #2e09b6;
$blue-light: #8463ff;
$green: #13c98a;
$mint: #03f8a4;
$mint-light: #d1f8ea;
$gray1: #9b99aa;
$gray2: #c0bad5;
$gray3: #ede8f7;
$gray4: #f4f2f7;
$gray5: #f8f7fa;
$pink: #f8478d;
$yellow: #ffda58;
$orange: #ffae00;
$red: #cc4b37;

$twitter: #4cc7e6;
$facebook: #496297;
$googleplus: #dc4e41;